@media only screen and (min-width:1020px){header nav#site-navigation{display:block !important;}
}
@media only screen and (max-width:1020px){.row{padding:0 1em;}
#masthead{}
div#content{}
header.site-header{background:#222;width:100%;height:70px;position:relative;z-index:200;}
div.menu-toggle, div.menu-toggle:hover{cursor:hand;width:50px;height:50px;top:10px;right:10px;position:fixed;z-index:200;background:#333 url('../img/icons/nav.png') no-repeat center center;}
.main-navigation ul{display:block !important;}
nav#site-navigation{width:auto;position:relative;top:70px;right:10px;display:none;}
nav#site-navigation div.row{padding:0;}
nav#site-navigation li.menu-item{clear:both;width:100%;}
nav#site-navigation li.menu-item a{width:100%;border-left:2px solid #222;z-index:200;position:relative;}
nav#site-navigation li.menu-item a:hover,
nav#site-navigation li.current_page_item a,
body.forum ul.nav-menu li:nth-child(4) a,
body.page-template-template-documentation-php ul.nav-menu li:nth-child(3) a{border-bottom:2px solid #222 !important;border-left:2px solid #ee3b5b !important;}
ul.gen a{font-size:1.5em !important;}
ul.menu > li.menu-item-has-children > a:after{display:none;}
}