.article .itemizedlist ul{
	margin-left:2%;
}

.article .itemizedlist:nth-child(3) ul li{
	margin-left:2%;
}

.article .itemizedlist:nth-child(4) ul li
{
	margin-left: 4%;
}

.article .itemizedlist:nth-child(5) ul li 
{
	margin-left: 4%;
}

.article .itemizedlist:nth-child(10) ul li 
{
	margin-left: 4%;
}

.article .itemizedlist:nth-child(11) ul li 
{
	margin-left: 4%;
}

.article .itemizedlist:nth-child(12) ul li 
{
	margin-left: 4%;
}

.article .itemizedlist:nth-child(13) ul li 
{
	margin-left: 4%;
}
.article .itemizedlist:nth-child(14) ul li 
{
	margin-left: 4%;
}
.article .itemizedlist:nth-child(6) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(7) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(8) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(9) ul li 
{
	margin-left: 6%;
}

.article .itemizedlist:nth-child(16) ul li 
{
	margin-left: 6%;
}

.article .itemizedlist:nth-child(17) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(18) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(19) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(20) ul li 
{
	margin-left: 4%;
}
.article .itemizedlist:nth-child(22) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(23) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(24) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(25) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(26) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(27) ul li 
{
	margin-left: 6%;
}
.article .itemizedlist:nth-child(21) ul li 
{
	margin-left: 4%;
}

.article .itemizedlist:nth-child(28) ul li 
{
	margin-left: 4%;
}

.article .itemizedlist:nth-child(29) ul li 
{
	margin-left: 4%;
}

.article .itemizedlist:nth-child(30) ul li 
{
	margin-left: 4%;
}

.article .itemizedlist:nth-child(31) ul li 
{
	margin-left: 4%;
}
.article .itemizedlist:nth-child(32) ul li 
{
	margin-left: 4%;
}
.article .itemizedlist:nth-child(33) ul li 
{
	margin-left: 2%;
}
.article .itemizedlist:nth-child(35) ul li 
{
	margin-left: 2%;
}
.article .itemizedlist:nth-child(37) ul li 
{
	margin-left: 2%;
}
.article .itemizedlist:nth-child(34) ul li 
{
	margin-left: 4%;
}
.article .itemizedlist:nth-child(36) ul li 
{
	margin-left: 4%;
}
.article .itemizedlist:nth-child(38) ul li 
{
	margin-left: 4%;
}
